
h1 {
    text-align: center;
}

.pic {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    opacity: 0.2;
    margin-left: 0%;
}

.travel {
    position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

.greetings {
    position: absolute;
  top: 120px;
  left: 160px;
  transform: translate(13px, 60px) rotate(-10deg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em gray;
}

.travel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em gray;
   
}

    