
.locs {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 1425px;
}

.data {
    margin-left: 100px;
    margin-right: 100px;
    border-style: solid;
    padding: 20px

}

body {
    background-color: #F0EADA;
}